/*
COLORS

1: #f7444e;
2: #f7f8f3;
3: #78bcc4; Dark: #60b0ba;
4: #002c3e;
5: For Background 2 #f4f4f4;


Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #9097fd;
  --color-primary-light: #b1b6fe;
  --color-primary-dark: #6f78fc;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #777;
  line-height: 1.6;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

section {
  padding: 80px 0; }

#nav-btn {
  border: 0px;
  color: #fff;
  font-size: 25px; }

.navbar-toggler {
  outline: none !important; }

.logo {
  height: 80px;
  position: relative; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; }

.navbar {
  background-color: #002c3e !important; }

#text-box {
  color: #f7f8f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#text-box h1 {
  font-size: 8.75rem; }

#text-box a {
  color: #f7f8f3; }

.btn {
  margin-top: 1.25rem; }

.btn-first {
  background-color: #78bcc4;
  margin-left: 0.625rem; }

.btn-first:hover {
  background-color: #60b0ba; }

.btn-outline {
  border: 1px solid #78bcc4;
  margin-left: 0.3125rem; }

.btn-outline:hover {
  background-color: #78bcc4;
  color: #fff; }

.scroll-btn {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #fff;
  padding: 10px 10px 20px;
  border-radius: 30px; }

.scroll-bar span {
  border: 2px solid #fff;
  font-size: 10px;
  border-radius: 30px; }

.scroll-bar {
  animation: mover 1s infinite alternate; }

@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(10px); } }

#sb {
  background-color: #f4f4f4; }

.sbheading {
  color: #777; }

#sb p {
  font-size: 16px; }

.serviceBox {
  text-align: center;
  margin-top: 3rem; }

.serviceBox .service-icon {
  width: 84px;
  height: 84px;
  line-height: 84px;
  margin: 0 auto 30px;
  font-size: 34px;
  color: #78bcc4;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease 0s; }

.serviceBox:hover .service-icon {
  color: #f4f4f4; }

.serviceBox .service-icon:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #78bcc4;
  border-radius: 0 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease 0s; }

.serviceBox:hover .service-icon:before {
  border-radius: 0 40px 40px 40px;
  background: #78bcc4;
  transform: rotate(45deg); }

.serviceBox .title {
  font-size: 23px;
  font-weight: 500;
  color: #011627;
  margin-bottom: 10px;
  transition: all 0.5s ease 0s; }

.serviceBox:hover .title {
  color: #78bcc4; }

.serviceBox .description {
  font-size: 13px;
  color: #828484;
  line-height: 27px; }

@media only screen and (max-width: 990px) {
  .serviceBox {
    margin-bottom: 0px; } }

h2,
h3 {
  font-weight: 300;
  text-transform: uppercase; }

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px; }

h3 {
  font-size: 110%;
  margin-bottom: 15px; }

h2:after {
  display: block;
  height: 2px;
  background-color: #60b0ba;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px; }

/*BIG TABLETS TO 1200px:(WIDTH SMALLER THAN 1140px ROW) */
/*FOR SMALL TABLETS TO BIG TABLETS: from 768px TO 1023px*/
/*FOR SMALL PHONES TO SMALL TABLETS : From 481 to 767px  */
@media only screen and (max-width: 767px) {
  #text-box h1 {
    font-size: 7rem;
    margin: 0;
    padding: 0; } }

/*FOR SMALL PHONES: 0 to 480px  */
@media only screen and (max-width: 480px) {
  #text-box h1 {
    font-size: 5rem; } }

.about--img {
  height: auto;
  max-width: 100%; }

#about {
  margin-top: 3rem; }

.skills-bar p {
  margin-bottom: 6px;
  font-weight: 600; }

.progress {
  border-radius: 16px;
  margin-bottom: 10px; }

.progress-bar {
  border-radius: 16px;
  background: #78bcc4 !important; }

.tz-gallery {
  padding: 40px; }

.tz-gallery .lightbox img {
  width: 100%;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }

.tz-gallery .lightbox img:hover {
  transform: scale(1.05); }

.tz-gallery img {
  border-radius: 4px; }

.baguetteBox-button {
  background-color: transparent !important; }

@media (max-width: 768px) {
  body {
    padding: 0; }
  .container.gallery-container {
    border-radius: 0; } }

#team {
  background-color: #f4f4f4; }

.our-team > .pic > img {
  width: 100%;
  height: auto; }

.our-team > .description {
  padding: 30px;
  background: #fff;
  line-height: 24px; }

.our-team > .description > .team-prof > h4 {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin: 0; }

.our-team > .description > .team-prof > span {
  font-size: 14px;
  color: #1abc9c;
  display: block;
  margin-bottom: 5px; }

.our-team .social-links {
  padding: 0;
  margin: 0;
  list-style: none; }

.our-team .social-links > li {
  display: inline-block;
  margin-right: 5px; }

.our-team .social-links > li > a {
  color: darkgray; }

.our-team .social-links > li > a:hover {
  color: #60b0ba; }

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 25px; } }

#myFooter {
  background-color: #002c3e;
  color: white; }

#myFooter .footer-copyright {
  background-color: #000;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center; }

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc; }

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7; }

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px; }

#myFooter a {
  color: #d2d1d1;
  text-decoration: none; }

#myFooter a:hover, #myFooter a:focus {
  text-decoration: none;
  color: white; }

#myFooter .myCols {
  text-align: center; }

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px; }

#myFooter .social-networks a {
  font-size: 32px;
  margin-right: 5px;
  margin-left: 5px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s; }

#myFooter .social-networks a:hover {
  text-decoration: none; }

#myFooter .facebook:hover {
  color: #0077e2; }

#myFooter .google:hover {
  color: #ef1a1a; }

#myFooter .twitter:hover {
  color: #00aced; }

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center; } }

/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */
html {
  height: 100% !important; }

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%; }

.content {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px; }

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto; }

.heart {
  color: #E90606;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate; }

@-webkit-keyframes pound {
  to {
    transform: scale(1.1); } }

@keyframes pound {
  to {
    transform: scale(1.1); } }

.contact {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }

.contact .row {
  padding: 30px 0;
  font-size: 22px; }

.contact .col-md-4 .fa {
  padding: 10px;
  font-size: 40px; }

.contact .btn {
  padding: 10px 25px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: transparent; }

.contact .btn:focus {
  box-shadow: none !important; }

.contact .btn:hover {
  border: 2px solid #fff;
  background: #60b0ba !important;
  transition: 0.6s; }
