.about--img{
  height: auto;
  max-width: 100%;

}

#about{
  margin-top: 3rem;
}

//SKILLS

.skills-bar p{
  margin-bottom: 6px;
  font-weight: 600;
}

.progress{
  border-radius: 16px;
  margin-bottom: 10px;
}

.progress-bar{
  border-radius: 16px;
  background: #78bcc4 !important;
}
