.contact {
  padding-top: 40px;
  padding-bottom: 40px;

  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.contact .row {
  padding: 30px 0;
  font-size: 22px;
}

.contact .col-md-4 .fa {
  padding: 10px;
  font-size: 40px;
}

.contact .btn {
  padding: 10px 25px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: transparent;
}

.contact .btn:focus{
  box-shadow: none !important;
}

.contact .btn:hover{
  border: 2px solid #fff;
  background: #60b0ba !important;
  transition: 0.6s;
}
